unencrypted/
360controller.cfg
360controller-linux.cfg
config_default.cfg
config.cfg
mtp.cfg
replay_example.cfg
sfm_defaultanimationgroups.txt
sixense_bindings.cfg
sourcevr_tf.cfg
undo360controller.cfg

chapter*.cfg

pure*.txt
trusted*.txt
mapcycle*.txt
motd*.txt
server*.cfg

*.txt
*.scr
/sound/
