unencrypted/
360controller.cfg
360controller-linux.cfg
chapter*.cfg
config_default.cfg
config.cfg
mapcycle*.txt
motd*.txt
mtp.cfg
pure*.txt
replay_example.cfg
server_blacklist.txt
settings.scr
sfm_defaultanimationgroups.txt
sixense_bindings.cfg
sourcevr_tf.cfg
trusted*.txt
undo360controller.cfg
user.scr

*.txt
*.scr
